flowdesk/workflows/wf.json
{"updatedAt":"2026-04-13T22:34:58.898Z","createdAt":"2026-04-13T22:23:14.203Z","id":"OEoS7XGx9I2Ft0Le","name":"Onboarding — Transcripcion a Brief","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"onboarding-transcripcion","options":{}},"id":"webhook","name":"Recibir Transcripcion","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"d52f047a-8f60-4c16-88c6-2d57f422ba9e"},{"parameters":{"model":"claude-sonnet-4-6","options":{"maxTokensToSample":4000}},"id":"claude","name":"Claude — Modelo","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[448,512],"credentials":{"anthropicApi":{"id":"z0YdT9oApiWKr4Eq","name":"Anthropic MentorIA"}}},{"parameters":{"promptType":"define","text":"=Eres un estratega de marketing experto. Analiza esta transcripcion de una llamada de onboarding y extrae la informacion estructurada.\n\nTRANSCRIPCION:\n{{ $json.body.transcript || $json.body.text || $json.body.summary || JSON.stringify($json.body) }}\n\nGenera un JSON con esta estructura exacta:\n{\n  \"cliente\": \"nombre del negocio\",\n  \"industria\": \"industria o sector\",\n  \"descripcion\": \"descripcion del negocio en 2-3 oraciones\",\n  \"propuesta_valor\": \"por que los eligen vs competencia\",\n  \"tono_marca\": \"formal/cercano/serio/humor/inspiracional\",\n  \"palabras_prohibidas\": \"cosas que la marca nunca diria\",\n  \"producto_estrella\": \"producto o servicio principal\",\n  \"productos\": [\"lista de productos/servicios con precios aproximados\"],\n  \"proceso_compra\": \"como compra un cliente\",\n  \"canal_principal\": \"donde mas compran\",\n  \"objeciones\": \"que frena a la gente de comprar\",\n  \"cliente_ideal\": \"perfil detallado del mejor cliente\",\n  \"dolor_cliente\": \"que problema tiene antes de encontrarlos\",\n  \"miedo_compra\": \"que le da miedo al comprar\",\n  \"factor_decision\": \"que lo convence de comprar\",\n  \"meta_ventas_mensual\": \"meta en pesos\",\n  \"presupuesto_pauta\": \"presupuesto para publicidad pagada\",\n  \"redes_activas\": [\"lista de redes donde quiere estar\"],\n  \"sitio_web\": \"URL si tiene\",\n  \"crm\": \"herramienta CRM si tiene\",\n  \"competidores\": [\"lista de competidores\"],\n  \"competidores_fortalezas\": \"que hacen bien los competidores\",\n  \"competidores_debilidades\": \"que hacen mal\",\n  \"marca_inspiracion\": \"marca fuera de industria que admiran\",\n  \"notas_adicionales\": \"informacion adicional relevante\",\n  \"recomendacion_estrategia\": \"tu recomendacion como estratega para los primeros 3 meses en 3-4 oraciones\"\n}\n\nResponde SOLO con el JSON, sin texto adicional."},"id":"chain","name":"Procesar con IA","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[448,304]},{"parameters":{"jsCode":"const raw = $input.first().json.text;\nlet brief;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  brief = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  brief = { error: 'No se pudo parsear', raw: raw };\n}\nreturn [{ json: { brief, rawResponse: raw } }];"},"id":"parse","name":"Parsear JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appgS6jdmiMsGQyIF","mode":"id"},"table":{"__rl":true,"value":"tbl45sIHzsJtNix3M","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Cliente":"={{ $json.brief.cliente || 'Nuevo cliente' }}","Fecha Llamada":"={{ $now.toISODate() }}","Brief Enriquecido IA":"={{ JSON.stringify($json.brief, null, 2) }}","Estado":"Llamada realizada"}},"options":{}},"id":"airtable","name":"Crear en Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[928,304],"credentials":{"airtableTokenApi":{"id":"NbV3Gvv9v4DmaR9c","name":"Airtable MentorIA"}}},{"parameters":{"resource":"messages-api","instanceName":"mentoria-manolo","remoteJid":"5215654152736@s.whatsapp.net","messageText":"=*MentorIA — Nuevo Brief Listo* ✅\n\nCliente: {{ $('Crear en Airtable').item.json.fields.Cliente }}\n\nClaude ya procesó la transcripción. El brief enriquecido está en Airtable listo para tu revisión.\n\n👉 Entra a Airtable → Onboarding para aprobarlo.","options_message":{}},"id":"whatsapp","name":"Notificar por WhatsApp","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,304],"credentials":{"evolutionApi":{"id":"25MBOz6svtSJ3wEE","name":"Evolution API MentorIA"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,160],"id":"a38b9cd5-3e04-44b0-8798-305284df2953","name":"When clicking ‘Execute workflow’"}],"connections":{"Recibir Transcripcion":{"main":[[{"node":"Procesar con IA","type":"main","index":0}]]},"Claude — Modelo":{"ai_languageModel":[[{"node":"Procesar con IA","type":"ai_languageModel","index":0}]]},"Procesar con IA":{"main":[[{"node":"Parsear JSON","type":"main","index":0}]]},"Parsear JSON":{"main":[[{"node":"Crear en Airtable","type":"main","index":0}]]},"Crear en Airtable":{"main":[[{"node":"Notificar por WhatsApp","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Procesar con IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"timeSavedMode":"fixed"},"staticData":null,"meta":null,"pinData":{},"versionId":"755a9bde-f671-43c3-977b-8979d8d582b0","activeVersionId":"755a9bde-f671-43c3-977b-8979d8d582b0","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-04-13T22:23:14.205Z","createdAt":"2026-04-13T22:23:14.205Z","role":"workflow:owner","workflowId":"OEoS7XGx9I2Ft0Le","projectId":"JI6E4gn6zMrMKqHp","project":{"updatedAt":"2025-08-12T20:27:20.293Z","createdAt":"2025-08-12T20:26:03.134Z","id":"JI6E4gn6zMrMKqHp","name":"Manuel Gómez Haro Sánchez <manolo.gho@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"abf92930-2b95-4f60-85b8-1f6051d78c0e","projectRelations":[{"updatedAt":"2025-08-12T20:26:03.134Z","createdAt":"2025-08-12T20:26:03.134Z","userId":"abf92930-2b95-4f60-85b8-1f6051d78c0e","projectId":"JI6E4gn6zMrMKqHp","user":{"updatedAt":"2026-04-13T22:35:02.572Z","createdAt":"2025-08-12T20:26:02.761Z","id":"abf92930-2b95-4f60-85b8-1f6051d78c0e","email":"manolo.gho@gmail.com","firstName":"Manuel","lastName":"Gómez Haro Sánchez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-12T20:27:40.917Z","personalization_survey_n8n_version":"1.106.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"dismissedCallouts":{"aiAgentStarterCallout":true},"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"xSlglC3SaVI525hb","userActivatedAt":1755608797816,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1776119699919}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-13","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-13T22:35:44.000Z","createdAt":"2026-04-13T22:34:58.899Z","versionId":"755a9bde-f671-43c3-977b-8979d8d582b0","workflowId":"OEoS7XGx9I2Ft0Le","nodes":[{"parameters":{"httpMethod":"POST","path":"onboarding-transcripcion","options":{}},"id":"webhook","name":"Recibir Transcripcion","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"d52f047a-8f60-4c16-88c6-2d57f422ba9e"},{"parameters":{"model":"claude-sonnet-4-6","options":{"maxTokensToSample":4000}},"id":"claude","name":"Claude — Modelo","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[448,512],"credentials":{"anthropicApi":{"id":"z0YdT9oApiWKr4Eq","name":"Anthropic MentorIA"}}},{"parameters":{"promptType":"define","text":"=Eres un estratega de marketing experto. Analiza esta transcripcion de una llamada de onboarding y extrae la informacion estructurada.\n\nTRANSCRIPCION:\n{{ $json.body.transcript || $json.body.text || $json.body.summary || JSON.stringify($json.body) }}\n\nGenera un JSON con esta estructura exacta:\n{\n  \"cliente\": \"nombre del negocio\",\n  \"industria\": \"industria o sector\",\n  \"descripcion\": \"descripcion del negocio en 2-3 oraciones\",\n  \"propuesta_valor\": \"por que los eligen vs competencia\",\n  \"tono_marca\": \"formal/cercano/serio/humor/inspiracional\",\n  \"palabras_prohibidas\": \"cosas que la marca nunca diria\",\n  \"producto_estrella\": \"producto o servicio principal\",\n  \"productos\": [\"lista de productos/servicios con precios aproximados\"],\n  \"proceso_compra\": \"como compra un cliente\",\n  \"canal_principal\": \"donde mas compran\",\n  \"objeciones\": \"que frena a la gente de comprar\",\n  \"cliente_ideal\": \"perfil detallado del mejor cliente\",\n  \"dolor_cliente\": \"que problema tiene antes de encontrarlos\",\n  \"miedo_compra\": \"que le da miedo al comprar\",\n  \"factor_decision\": \"que lo convence de comprar\",\n  \"meta_ventas_mensual\": \"meta en pesos\",\n  \"presupuesto_pauta\": \"presupuesto para publicidad pagada\",\n  \"redes_activas\": [\"lista de redes donde quiere estar\"],\n  \"sitio_web\": \"URL si tiene\",\n  \"crm\": \"herramienta CRM si tiene\",\n  \"competidores\": [\"lista de competidores\"],\n  \"competidores_fortalezas\": \"que hacen bien los competidores\",\n  \"competidores_debilidades\": \"que hacen mal\",\n  \"marca_inspiracion\": \"marca fuera de industria que admiran\",\n  \"notas_adicionales\": \"informacion adicional relevante\",\n  \"recomendacion_estrategia\": \"tu recomendacion como estratega para los primeros 3 meses en 3-4 oraciones\"\n}\n\nResponde SOLO con el JSON, sin texto adicional."},"id":"chain","name":"Procesar con IA","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[448,304]},{"parameters":{"jsCode":"const raw = $input.first().json.text;\nlet brief;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  brief = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  brief = { error: 'No se pudo parsear', raw: raw };\n}\nreturn [{ json: { brief, rawResponse: raw } }];"},"id":"parse","name":"Parsear JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appgS6jdmiMsGQyIF","mode":"id"},"table":{"__rl":true,"value":"tbl45sIHzsJtNix3M","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Cliente":"={{ $json.brief.cliente || 'Nuevo cliente' }}","Fecha Llamada":"={{ $now.toISODate() }}","Brief Enriquecido IA":"={{ JSON.stringify($json.brief, null, 2) }}","Estado":"Llamada realizada"}},"options":{}},"id":"airtable","name":"Crear en Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[928,304],"credentials":{"airtableTokenApi":{"id":"NbV3Gvv9v4DmaR9c","name":"Airtable MentorIA"}}},{"parameters":{"resource":"messages-api","instanceName":"mentoria-manolo","remoteJid":"5215654152736@s.whatsapp.net","messageText":"=*MentorIA — Nuevo Brief Listo* ✅\n\nCliente: {{ $('Crear en Airtable').item.json.fields.Cliente }}\n\nClaude ya procesó la transcripción. El brief enriquecido está en Airtable listo para tu revisión.\n\n👉 Entra a Airtable → Onboarding para aprobarlo.","options_message":{}},"id":"whatsapp","name":"Notificar por WhatsApp","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,304],"credentials":{"evolutionApi":{"id":"25MBOz6svtSJ3wEE","name":"Evolution API MentorIA"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,160],"id":"a38b9cd5-3e04-44b0-8798-305284df2953","name":"When clicking ‘Execute workflow’"}],"connections":{"Recibir Transcripcion":{"main":[[{"node":"Procesar con IA","type":"main","index":0}]]},"Claude — Modelo":{"ai_languageModel":[[{"node":"Procesar con IA","type":"ai_languageModel","index":0}]]},"Procesar con IA":{"main":[[{"node":"Parsear JSON","type":"main","index":0}]]},"Parsear JSON":{"main":[[{"node":"Crear en Airtable","type":"main","index":0}]]},"Crear en Airtable":{"main":[[{"node":"Notificar por WhatsApp","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Procesar con IA","type":"main","index":0}]]}},"authors":"Manuel Gómez Haro Sánchez","name":"Version 755a9bde","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-13T22:35:44.694Z","id":16,"workflowId":"OEoS7XGx9I2Ft0Le","versionId":"755a9bde-f671-43c3-977b-8979d8d582b0","event":"activated","userId":"abf92930-2b95-4f60-85b8-1f6051d78c0e"}]}}