public/flowdesk/workflows/wf_fixed.json
{"name":"Onboarding — Transcripcion a Brief","nodes":[{"parameters":{"httpMethod":"POST","path":"onboarding-transcripcion","options":{}},"id":"webhook","name":"Recibir Transcripcion","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"d52f047a-8f60-4c16-88c6-2d57f422ba9e"},{"parameters":{"model":"claude-sonnet-4-5","options":{"maxTokensToSample":4000}},"id":"claude","name":"Claude — Modelo","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[448,512],"credentials":{"anthropicApi":{"id":"z0YdT9oApiWKr4Eq","name":"Anthropic MentorIA"}}},{"parameters":{"promptType":"define","text":"=Eres un estratega de marketing experto. Analiza esta transcripcion de una llamada de onboarding y extrae la informacion estructurada.\n\nTRANSCRIPCION:\n{{ $json.body.transcript || $json.body.text || $json.body.summary || JSON.stringify($json.body) }}\n\nGenera un JSON con esta estructura exacta:\n{\n  \"cliente\": \"nombre del negocio\",\n  \"industria\": \"industria o sector\",\n  \"descripcion\": \"descripcion del negocio en 2-3 oraciones\",\n  \"propuesta_valor\": \"por que los eligen vs competencia\",\n  \"tono_marca\": \"formal/cercano/serio/humor/inspiracional\",\n  \"palabras_prohibidas\": \"cosas que la marca nunca diria\",\n  \"producto_estrella\": \"producto o servicio principal\",\n  \"productos\": [\"lista de productos/servicios con precios aproximados\"],\n  \"proceso_compra\": \"como compra un cliente\",\n  \"canal_principal\": \"donde mas compran\",\n  \"objeciones\": \"que frena a la gente de comprar\",\n  \"cliente_ideal\": \"perfil detallado del mejor cliente\",\n  \"dolor_cliente\": \"que problema tiene antes de encontrarlos\",\n  \"miedo_compra\": \"que le da miedo al comprar\",\n  \"factor_decision\": \"que lo convence de comprar\",\n  \"meta_ventas_mensual\": \"meta en pesos\",\n  \"presupuesto_pauta\": \"presupuesto para publicidad pagada\",\n  \"redes_activas\": [\"lista de redes donde quiere estar\"],\n  \"sitio_web\": \"URL si tiene\",\n  \"crm\": \"herramienta CRM si tiene\",\n  \"competidores\": [\"lista de competidores\"],\n  \"competidores_fortalezas\": \"que hacen bien los competidores\",\n  \"competidores_debilidades\": \"que hacen mal\",\n  \"marca_inspiracion\": \"marca fuera de industria que admiran\",\n  \"notas_adicionales\": \"informacion adicional relevante\",\n  \"recomendacion_estrategia\": \"tu recomendacion como estratega para los primeros 3 meses en 3-4 oraciones\"\n}\n\nResponde SOLO con el JSON, sin texto adicional."},"id":"chain","name":"Procesar con IA","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[448,304]},{"parameters":{"jsCode":"const raw = $input.first().json.text;\nlet brief;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  brief = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  brief = { error: 'No se pudo parsear', raw: raw };\n}\nreturn [{ json: { brief, rawResponse: raw } }];"},"id":"parse","name":"Parsear JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appgS6jdmiMsGQyIF","mode":"id"},"table":{"__rl":true,"value":"tbl45sIHzsJtNix3M","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Cliente":"={{ $json.brief.cliente || 'Nuevo cliente' }}","Fecha Llamada":"={{ $now.toISODate() }}","Brief Enriquecido IA":"={{ JSON.stringify($json.brief, null, 2) }}","Estado":"Llamada realizada"}},"options":{}},"id":"airtable","name":"Crear en Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[928,304],"credentials":{"airtableTokenApi":{"id":"NbV3Gvv9v4DmaR9c","name":"Airtable MentorIA"}}},{"parameters":{"resource":"messages-api","instanceName":"mentoria-manolo","remoteJid":"5215654152736@s.whatsapp.net","messageText":"=*MentorIA — Nuevo Brief Listo* ✅\n\nCliente: {{ $('Crear en Airtable').item.json.fields.Cliente }}\n\nClaude ya procesó la transcripción. El brief enriquecido está en Airtable listo para tu revisión.\n\n👉 Entra a Airtable → Onboarding para aprobarlo.","options_message":{}},"id":"whatsapp","name":"Notificar por WhatsApp","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,304],"credentials":{"evolutionApi":{"id":"25MBOz6svtSJ3wEE","name":"Evolution API MentorIA"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,160],"id":"a38b9cd5-3e04-44b0-8798-305284df2953","name":"When clicking ‘Execute workflow’"}],"connections":{"Recibir Transcripcion":{"main":[[{"node":"Procesar con IA","type":"main","index":0}]]},"Claude — Modelo":{"ai_languageModel":[[{"node":"Procesar con IA","type":"ai_languageModel","index":0}]]},"Procesar con IA":{"main":[[{"node":"Parsear JSON","type":"main","index":0}]]},"Parsear JSON":{"main":[[{"node":"Crear en Airtable","type":"main","index":0}]]},"Crear en Airtable":{"main":[[{"node":"Notificar por WhatsApp","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Procesar con IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}