public/flowdesk/workflows/wf_whatsapp_fixed.json
{"name":"WhatsApp — Recibir y Rutear Mensajes","nodes":[{"parameters":{"httpMethod":"POST","path":"wa-entrante","options":{}},"id":"webhook","name":"Webhook WhatsApp Entrante","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"28379ee2-8a65-422f-a1d0-8ef4740dfa20"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst data = body.data || {};\nconst msg = data.message || {};\n\nconst text = msg.conversation ||\n             msg.extendedTextMessage?.text ||\n             msg.imageMessage?.caption ||\n             '';\n\nconst from = data.key?.remoteJid || '';\nconst phone = from.replace('@s.whatsapp.net', '').replace('@g.us', '');\nconst isGroup = from.includes('@g.us');\nconst pushName = data.pushName || 'Sin nombre';\n\nreturn [{\n  json: {\n    text: text.trim(),\n    phone,\n    from,\n    isGroup,\n    pushName,\n    isBrief: text.toLowerCase().includes('brief:') || text.toLowerCase().includes('brief '),\n    isContentRequest: text.toLowerCase().includes('contenido:') || text.toLowerCase().includes('genera contenido'),\n    messageType: msg.conversation ? 'text' : (msg.extendedTextMessage ? 'text' : 'other'),\n    raw: body\n  }\n}];"},"id":"extract","name":"Extraer Datos del Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"a","leftValue":"={{ $json.isBrief }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"brief"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"b","leftValue":"={{ $json.isContentRequest }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"contenido"}]},"options":{}},"id":"router","name":"Router de Comandos","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[928,304]},{"parameters":{"model":"claude-sonnet-4-5","options":{"maxTokensToSample":4000}},"id":"claude_brief","name":"Claude — Modelo Brief","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[1168,112],"credentials":{"anthropicApi":{"id":"z0YdT9oApiWKr4Eq","name":"Anthropic MentorIA"}}},{"parameters":{"promptType":"define","text":"=Eres un estratega de marketing experto. Analiza este brief de onboarding y extrae la información estructurada.\n\nBRIEF:\n{{ $json.text.replace('brief:', '').replace('Brief:', '').trim() }}\n\nGenera un JSON con esta estructura exacta:\n{\n  \"cliente\": \"nombre del negocio\",\n  \"industria\": \"industria o sector\",\n  \"descripcion\": \"descripcion del negocio en 2-3 oraciones\",\n  \"propuesta_valor\": \"por que los eligen vs competencia\",\n  \"tono_marca\": \"formal/cercano/serio/humor/inspiracional\",\n  \"producto_estrella\": \"producto o servicio principal\",\n  \"cliente_ideal\": \"perfil detallado del mejor cliente\",\n  \"dolor_cliente\": \"que problema tiene antes de encontrarlos\",\n  \"meta_ventas_mensual\": \"meta en pesos\",\n  \"presupuesto_pauta\": \"presupuesto para publicidad pagada\",\n  \"redes_activas\": [\"lista de redes donde quiere estar\"],\n  \"competidores\": [\"lista de competidores\"],\n  \"recomendacion_estrategia\": \"recomendacion para los primeros 3 meses en 3-4 oraciones\"\n}\n\nResponde SOLO con el JSON, sin texto adicional."},"id":"chain_brief","name":"Procesar Brief con IA","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1168,-64]},{"parameters":{"jsCode":"const raw = $input.first().json.text;\nlet brief;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  brief = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  brief = { error: 'No se pudo parsear', raw };\n}\nconst prev = $('Extraer Datos del Mensaje').first().json;\nreturn [{ json: { brief, phone: prev.phone, pushName: prev.pushName } }];"},"id":"parse_brief","name":"Parsear Brief JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-64]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appgS6jdmiMsGQyIF","mode":"id"},"table":{"__rl":true,"value":"tbl45sIHzsJtNix3M","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Cliente":"={{ $json.brief.cliente || $json.pushName }}","Fecha Llamada":"={{ $now.toISODate() }}","Brief Enriquecido IA":"={{ JSON.stringify($json.brief, null, 2) }}","Estado":"Llamada realizada"}},"options":{}},"id":"airtable_brief","name":"Guardar Brief en Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1648,-64],"credentials":{"airtableTokenApi":{"id":"NbV3Gvv9v4DmaR9c","name":"Airtable MentorIA"}}},{"parameters":{"resource":"messages-api","instanceName":"mentoria-manolo","remoteJid":"={{ $('Extraer Datos del Mensaje').first().json.phone + '@s.whatsapp.net' }}","messageText":"=✅ *Brief recibido y procesado*\n\nCliente: {{ $json.fields.Cliente }}\n\nEl brief está en Airtable listo para revisar.\n\n💡 _Responde *contenido: [instrucciones]* para generar el primer contenido._","options_message":{}},"id":"wa_brief_ok","name":"WhatsApp — Brief Recibido","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1888,-64],"credentials":{"evolutionApi":{"id":"25MBOz6svtSJ3wEE","name":"Evolution API MentorIA"}}},{"parameters":{"model":"claude-sonnet-4-5","options":{"maxTokensToSample":8000}},"id":"claude_content","name":"Claude — Modelo Contenido","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[1168,512],"credentials":{"anthropicApi":{"id":"z0YdT9oApiWKr4Eq","name":"Anthropic MentorIA"}}},{"parameters":{"promptType":"define","text":"=Eres un experto en marketing de contenidos. Genera una semana completa de contenido para redes sociales.\n\nINSTRUCCIONES: {{ $json.text.replace('contenido:', '').replace('Contenido:', '').trim() }}\n\nGenera exactamente 7 piezas de contenido (una por dia). Para cada pieza incluye:\n- Red social\n- Tipo (post/reel/story/carrusel)\n- Tema del dia\n- Copy completo listo para publicar\n- 5 hashtags relevantes\n- Hora optima de publicacion\n\nResponde en formato JSON:\n{\n  \"semana\": [\n    {\n      \"dia\": \"Lunes\",\n      \"red\": \"Instagram\",\n      \"tipo\": \"Reel\",\n      \"tema\": \"...\",\n      \"copy\": \"...\",\n      \"hashtags\": [\"#...\"],\n      \"hora\": \"18:00\"\n    }\n  ]\n}\n\nResponde SOLO con el JSON."},"id":"chain_content","name":"Generar Contenido con IA","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1168,368]},{"parameters":{"jsCode":"const raw=$input.first().json.text;\nlet semana=[];\ntry {\n  // Quitar markdown code blocks si los hay\n  const clean=raw.replace(/\\/g,'').trim();\n  const match=clean.match(/{[sS]*}/);\n  const obj=match?JSON.parse(match[0]):{};\n  semana=obj.semana||[];\n} catch(e){ semana=[]; }\nconst prev=$('Extraer Datos del Mensaje').first().json;\nreturn semana.map(p=>({json:{...p,phone:prev.phone}}));"},"id":"parse_content","name":"Parsear Contenido JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,368]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appgS6jdmiMsGQyIF","mode":"id"},"table":{"__rl":true,"value":"tblSrW7hpZzIFkfZ2","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Título":"={{ $json.tema }}","Red Social":"={{ $json.red }}","Tipo":"={{ $json.tipo }}","Copy":"={{ $json.copy }}","Hashtags":"={{ ($json.hashtags || []).join(' ') }}","Estado":"Generado","Concepto / Tema":"={{ $json.tema }}"}},"options":{}},"id":"airtable_content","name":"Guardar Pieza en Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1888,368],"credentials":{"airtableTokenApi":{"id":"NbV3Gvv9v4DmaR9c","name":"Airtable MentorIA"}}},{"parameters":{"resource":"messages-api","instanceName":"mentoria-manolo","remoteJid":"={{ $('Extraer Datos del Mensaje').first().json.phone + '@s.whatsapp.net' }}","messageText":"=🎨 *Contenido semanal generado* ✅\n\n7 piezas listas en Airtable → tabla *Plan de Contenido*\n\nRevisa, ajusta y aprueba cada pieza antes de publicar.","options_message":{}},"id":"wa_content_ok","name":"WhatsApp — Contenido Listo","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2128,368],"credentials":{"evolutionApi":{"id":"25MBOz6svtSJ3wEE","name":"Evolution API MentorIA"}}}],"connections":{"Webhook WhatsApp Entrante":{"main":[[{"node":"Extraer Datos del Mensaje","type":"main","index":0}]]},"Ignorar Mensajes Propios":{"main":[[{"node":"Extraer Datos del Mensaje","type":"main","index":0}]]},"Extraer Datos del Mensaje":{"main":[[{"node":"Router de Comandos","type":"main","index":0}]]},"Router de Comandos":{"main":[[{"node":"Procesar Brief con IA","type":"main","index":0}],[{"node":"Generar Contenido con IA","type":"main","index":0}]]},"Claude — Modelo Brief":{"ai_languageModel":[[{"node":"Procesar Brief con IA","type":"ai_languageModel","index":0}]]},"Procesar Brief con IA":{"main":[[{"node":"Parsear Brief JSON","type":"main","index":0}]]},"Parsear Brief JSON":{"main":[[{"node":"Guardar Brief en Airtable","type":"main","index":0}]]},"Guardar Brief en Airtable":{"main":[[{"node":"WhatsApp — Brief Recibido","type":"main","index":0}]]},"Claude — Modelo Contenido":{"ai_languageModel":[[{"node":"Generar Contenido con IA","type":"ai_languageModel","index":0}]]},"Generar Contenido con IA":{"main":[[{"node":"Parsear Contenido JSON","type":"main","index":0}]]},"Parsear Contenido JSON":{"main":[[{"node":"Guardar Pieza en Airtable","type":"main","index":0}]]},"Por cada pieza":{"main":[[{"node":"Guardar Pieza en Airtable","type":"main","index":0}]]},"Guardar Pieza en Airtable":{"main":[[{"node":"WhatsApp — Contenido Listo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}